@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=JetBrains+Mono:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.6;
    /* Increased line-height for better readability */
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

a:hover,
a:focus {
    color: var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 700;
    color: var(--lightest-slate);
    line-height: 1.1;
}

section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
}

/* Custom Selection Color */
::selection {
    background-color: var(--lightest-navy);
    color: var(--green);
}